
<script type="text/javascript">
    function UploadPic() {
        $.ajax({
            type: 'POST',
            url: ("@Url.Content("~/Photo/Rebind")/"),
            dataType: 'json',
            success: function (data) {
                $("#show").attr("src", data);
                document.getElementById('Submit1').disabled = false;
                alert("Photo Capture successfully!");                
            }
        });
    }

    function Uploadsubmit() {
        debugger;
        var src = $('img').attr('src');
        src_array = src.split('/');
        src = src_array[4];
        if (src != "") {
            $.ajax({
                type: 'POST',
                url: ("@Url.Content("~/Photo/Index")/"),
               dataType: 'json',
               data: { Imagename: src },
               success: function () { }
           });
            window.opener.location.href = "http://localhost:55694/Photo/Changephoto";
            self.close();}}
</script>
@using (Html.BeginForm())
{
@section scripts
{
        <script src="@Url.Content("~/Scripts/jquery.webcam.js")">
        </script>
        <script type="text/javascript">
            $("#Camera").webcam({
                width: 320,
                height: 240,
                mode: "save",
                swffile: "@Url.Content("~/Scripts/jscam.swf")",
                onTick: function () { },
                onSave: function () {
                    UploadPic();
                },
                onCapture: function () {
                    webcam.save("@Url.Content("~/Photo/Capture")/");
             },
                debug: function () { },
                onLoad: function () { }

            });

        </script>
    }
    <div style="margin: 0 auto; width: 980px; text-align: center">
        <div style="float: left; border: 4px solid #ccc; padding: 5px">
            <div id="Camera">
            </div>
            <br>
            <input type="button" value="Capture" onclick="webcam.capture();" />
        </div>
        <div style="float: left; margin-left: 20px; border: 4px solid #ccc; padding: 5px">
            <img id="show" style="width: 320px; height: 240px;" src="../../WebImages/person.jpg" />
            <br>
            <br>
            <input id="Submit1" type="submit" onclick="Uploadsubmit();" value="submit" />
        </div>
    </div>
    
}
<script type="text/javascript">
    window.onload = load();

    function load() {
        debugger;
        document.getElementById('Submit1').disabled = true;
    }

</script>